.card {
    display: flex;
    width: 500px;
    background-color: #f7f7f7;
    padding: 20px;
    object-fit: cover;
        border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
.cardtext {
    background-color: white;
    display: flex;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.cardimg img{
    border: 1px solid orange;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header { 
   background-color: white;
    display: block;
    text-align: center;
    position: relative;
}

.header h3 {
    display: flex;
    text-align: center;
    justify-content: center;
}
.itemslist {
    /* position: relative; */
    background-image: url("https://www.foodandwine.com/thmb/4FmqWbw5zrr65S3R7l9eYYP9b1w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/tips-for-hosting-holiday-guests-FT-BLOG1121-b94e4b800d2641b7a86d7611be67ac58.jpg");

    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
}
.storebtn{
    background-color: orange;
    font-weight: bold;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    width: 250px;
    height: 50px;
    

}